html {
    background-color: whitesmoke;
    
}
.container {
    background-color: white;
    min-height: calc(100vh - 100px);
    padding-bottom: 0.1px;
    border-radius: 10px;
    box-shadow: 0px 10px 140px 0px rgba(0, 0, 0, 1);
    margin-top: 40px;
    margin-bottom: 20px;
    padding-top:40px;
}
nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.0rem;
    padding: 0;
}
.block{
    background: white;
    margin: 0rem 0px 4rem 0;

}
.header-text{
    margin: 1.52rem 0px 0.012rem 0;
}
.header-label{
    margin: -0rem 0px 1rem 0;
}
.container {
    width: 80%;
}
.modal .btn-flat {
    color: #ddd;
}
.modal .modal-footer {
    background-color: #212121;
}
.sidenav .user-view .circle {
    height: 200px;
    width: 270px;
}
.btn-flat {
    color:  #212121;
}
.sidenav-footer {
    background-color: white;
    width: 100%;
}
.row {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}
.circle-network {
    height: 50px;
    width: 50px;
}
.circle-employee {
    height: 175px;
    width: 175px;
}

#map {
    height: 100%;
  }
.btn-floating {
    color: #fff;

    background-color: #212121;

}
nav {
    color: #fff;
    background-color: #212121;
}
